[submodule "Game/Assets/Tools"]
	path = Game/Assets/Tools
	url = https://github.com/I-LoveBees/Tools
[submodule "Game\\Assets\\Scripts"]
	path = Game\\Assets\\Scripts
	url = https://github.com/I-LoveBees/Scripts
